{% extends 'base.html' %}


            {% block content %}
            <nav>
                <a href= "{% url 'animal_list' %}">Found Animal List</a>
                <a href= "{% url 'create_animal_exam' %}">Create Exam</a>


            </nav>
            <h1>Patient's Medical Details</h1>
            <h2 class="color">
                Tag Number:{{list.id}}
            </h2>
            <img class="image_size" src="{{ list.picture }}">
            <h2></h2>

                <table>
                    <tr>
                        <th>Specie</th>
                        <th>Size</th>
                        <th>Weight</th>
                        <th>Age</th>
                        <th>Sex</th>
                        <th>Bloodwork Required</th>
                        <th>Pen</th>
                        <th>Medical Notes</th>
                        <th>Medical Staff</th>
                        <th>Picture</th>

                    </tr>
                    <tbody>
                        {% for item in list.exams.all %}
                        <tr>
                            {% comment %} <td>{{single_animal.exam_date|date:"d, M, Y"}}</td> {% endcomment %}
                            <td><a href="{% url 'update_exam' item.id%}">{{item.specie}}</a></td>
                            <td>{{item.size}}</td>
                            <td>{{item.weight}}</td>
                            <td>{{item.age}}</td>
                            <td>{{item.sex}}</td>
                            <td>{{item.bloodworkrequired|yesno:"Yes,No"}}</td>
                            <td>{{item.pen}}</td>
                            <td>{{item.notes}}</td>
                            <td>{{item.medicalreporter}}</td>
                            <td>{{item.medicalpicture}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            <h1>Health Status</h1>
            <ol>
                <li>put checkmarks here for if this post has been seen, if responders are on the way</li>

            </ol>

        {% endblock content %}
