<!doctype html>
<html lang="en">
    <head>
        <title> Edit Exam</title>
    </head>
    <header>
        <nav>
            {% comment %} <a href= "{% url 'show_animal' single_animal.id %}">Animal Detail</a> {% endcomment %}
        </nav>
    </header>
    <body>
        <main>
            <div>
                <h1>Edit Exam</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button> Edit </button>
                </form>
            </div>

        </main>
    </body>
</html>
