{% extends 'base.html' %}
{% block content %}
            <h1>Found Animal List</h1>
            <a href= "{% url 'create_report' %}">Create Report</a>
            <div class="row" id="grid">
                {% for list in lists %}
                <table id="list_loop">
                    <tr>
                        <th>Tag Number</th>
                        <th>Critical</th>
                        <th>Alone</th>
                        <th>Malnurished</th>
                        <th>Wellness Check</th>
                        <th>Location</th>
                        {% comment %} <th>Reported On</th> {% endcomment %}
                        <th>Notes</th>
                        <th>Picutre</th>
                        <th>Reporter Name</th>
                    </tr>
                    {% comment %} {%  if single_animal.exams.all|length > 0  %} {% endcomment %}
                    <tbody>

                        <tr>

                            <td><a href= "{% url 'show_animal' list.id %}">{{list.id}}</a></td>
                            <td>{{list.critical|yesno:"Yes,No"}}</td>
                            <td>{{list.alone|yesno:"Yes,No"}}</td>
                            <td>{{list.malnurished|yesno:"Yes,No"}}</td>
                            <td>{{list.wellnesscheck|yesno:"Yes,No"}}</td>
                            <td>{{list.location}}</td>
                            {% comment %} <td>{{condition.reported_on|date:"d, M, Y"}}</td> {% endcomment %}
                            <td>{{list.notes}}</td>
                            <td><img class="image_list" src="{{ list.picture }}"></td>
                            <td>{{list.reporter}}</td>

                        </tr>

                    </tbody>
                    {% comment %} {% else %%}
                    <tbody>

                        <tr>

                            <td><a href= "{% url 'create_animal_exam' %}">{{condition.id}}</a></td>
                            <td>{{condition.critical|yesno:"Yes,No"}}</td>
                            <td>{{condition.alone|yesno:"Yes,No"}}</td>
                            <td>{{condition.malnurished|yesno:"Yes,No"}}</td>
                            <td>{{condition.wellnesscheck|yesno:"Yes,No"}}</td>
                            <td>{{condition.location}}</td>
                            {% comment %} <td>{{condition.reported_on|date:"d, M, Y"}}</td> {% endcomment %}
                            {% comment %} <td>{{condition.notes}}</td>
                            <td><img class="image_list" src="{{ condition.picture }}"></td>
                            <td>{{condition.reporter}}</td>

                        </tr>

                    </tbody> {% endcomment %}
                    {% comment %} {%  endif  %} {% endcomment %}
                </table>
                {% endfor %}
            </div>

            <h1>Health Status</h1>
            <ol>
                <li>put checkmarks here for if this post has been seen, if responders are on the way</li>

            </ol>
            {% endblock content %}
