{% extends 'base.html' %}
            {% block content %}
            <div>
                <div class = "mainimage">

                    <img src= "https://images.pexels.com/photos/1525606/pexels-photo-1525606.jpeg?auto=compress&cs=tinysrgb&w=400 alt="Seal" width="1100" height="600">
                    <div class="explination">
                        <p>
                            <h1>
                                Marine Mammals
                            </h1>
                            <h2>
                                Conservation efforts to address marine mammal population decline as a result of climate change
                            </h2>
                        </p>
                    </div>
                </div>
            </div>
            <h1 id="current-animals-on-site">
                Current animals on site
            {% comment %} </h1>
            <div class="recovery-legend">
                <div id="critical">Red:Critically ill</div>
                <div id="recovery">Yellow: In recovery</div>
                <div id="release">Green: Ready for release</div>
            </div> {% endcomment %}
            <div class = "box">
                    <div id="critical">Red:Critically ill</div>
                    <div id="recovery">Yellow: In recovery</div>
                    <div id="release">Green: Ready for release</div>
                    <div id="leo">Leo</div>
                    <div id="cici">Cici</div>
                    <div id="jackson">Jackson</div>
                    <div id="natasha">Natasha</div>
                    <div id="coco">Coco</div>
                    <div id="sam" >Sam</div>
                    <div id="lucky" >Lucky</div>
                    <div id="mangrove">Mangrove</div>
            </div>
                <h1 class="meetourpatients">
                    Meet Our Released Patients
                </h1>
            <video controls loop width="820" height="440"  autoplay muted>
                <source src="https://player.vimeo.com/external/468459107.sd.mp4?s=1b9b77af813595b505269c1aae29fd4d55f81c3f&profile_id=164&oauth2_token_id=57447761" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>
            <div>
                <div>
                    <div class="patients" id="style">
                        <div class = "stanley" id="zoom">
                            <img src= "https://images.unsplash.com/photo-1587738972117-c12f8389f1d4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c2VhJTIwbGlvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Seal" width="300" height="300">
                            <p>
                                Stanley
                            </p>
                        </div>
                        <div class = "sasha" id="zoom" >
                            <img  src= "https://images.unsplash.com/photo-1533084417605-e538a510d50a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHNlYSUyMGxpb258ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="Seal" width="300" height="300">
                            <p>
                                Sasha
                            </p>
                        </div>
                        <div class = "sleepy" id="zoom">
                            <img src= "https://cdn.pixabay.com/photo/2014/03/30/10/24/sea-lion-301283__340.jpg" alt="Seal" width="300" height="300">
                            <p>
                                Sleepy
                            </p>
                        </div>
                        <div class = "icecream" id="zoom">
                            <img src= "https://c2.staticflickr.com/2/1243/1013114081_dcf5ec1ba4_b.jpg" alt="Seal" width="300" height="300">
                            <p>
                                Ice Cream
                            </p>
                        </div>
                        <div class = "fluffy" id="zoom">
                            <img src= "https://images.unsplash.com/photo-1590397266404-2ecc21ff7f1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8c2VhbHN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="Seal" width="300" height="300">
                            <p>
                                Fluffy Twins
                            </p>
                        </div>
                    </div>
                </div>
                <div class="inthewild">
                    <nav><a href="{% url 'animal_list' %}">Reported Animals</a></nav>
                    <nav><a href="{% url 'email' %}">tour</a></nav>
                    <h2>Your Sightings</h2>
                    <div class = "grid">
                        <div class = "link-item">
                            <a href = "C:\Users\jasmi\hack-reactor\projects\marine-science\detail.html">Seal</a>
                            <img src="https://i.imgur.com/Ui19C9ob.jpg">
                        </div>
                    </div>
                </div>
            </div>
            {% endblock content %}
