{% extends 'base.html' %}


    {% block title %}
    Schedule a Tour!
    {% endblock title %}
        {% block content%}
            <div>
                <h1 >Schedule a Tour</h1>
                <form method="post" class = "email_page">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button id = "signup_button">SignUp for Tour</button>
                </form>
            </div>
        {% endblock content%}
