{% extends 'base.html' %}


    {% block title %}
        Login
    {% endblock title %}
        {% block content%}
            <div>
                <h1 >Login</h1>
                <form method="post" class = "login_page">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button id = "login_button">Login</button>
                </form>
                <h1>Don't have an account?</h1>
                <a href="{% url 'signup' %}" >Sign Up</a>
            </div>
        {% endblock content%}
