*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-container{
    /* background-color: rgb(233, 245, 245); */
    /* border: 1px solid blueviolet; */
    display:flex;
    justify-content: space-between;
    border-radius: 25px;
    margin: top 50px;
    background-color: rgb(20, 20, 148);
    padding-bottom: 4rem;
    width: 80%;
    height: 40 vh;
    color:rgb(216, 224, 231);
    justify-content: right;
    flex-wrap: wrap;
    margin:  auto;


}

 /* .right-side{
    list-style-type: none;

} */
/* .right-side ul{
    list-style: none;
  }
.right-side li{
    display: inline;}
    /*  */

.right-side li{
    display:flex;

}

 .right-side li a{
    text-decoration: none;
    /* display: block; */
    /* width: 100%;
    height: 100%; */
    padding: 14px 16px;
    color:rgb(216, 224, 231);

}


/* Note: image here is absolute so the relative explination can be moved in relation to it */


.centerimg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;

}

.explination {
    align-items: center;
    /* height: 100px; */
    position: relative ;
    bottom: 100px;
    left: -100px;
    border-style:solid;
    border-color: rgb(23, 23, 93);
    border-width: 3px;
    padding: 30px;
    background-color: rgb(6, 41, 125);
    font-size: 80%;
    color:aliceblue


}


.mainimage{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    margin-top: 150px;

}

.meetourpatients{
    text-align: center;
    font-size:xx-large;
    margin-top: 50px;

}

.patients p{
    color: rgb(18, 17, 17);

}
.patients {
    background-color: rgb(254, 255, 255);
    display: flex;
    /* justify-content: center; */
    margin: 50px;
}

/* SCROLL */
#style{
    width:1400px;
    background-color:white;
    height:450px;
    /* overflow:auto; */
    overflow:scroll;
    overflow-x: scroll;
    overflow-y: hidden;


}

  #zoom {
    padding:0 px;
    transition: transform .2s; /* Animation */
    /* width: 100px;
    height: 100px;
    margin: 0 auto; */
   }

   #zoom:hover {
    transform: scale(1.1);
  }

.stanley{
    margin: 50px;
    /* max-width:100% ;
    height: auto; */

}
.sasha{
    margin: 50px;

}
.sleepy{
    margin: 50px;

}

.icecream{
    margin: 50px;

}

.fluffy{
    margin: 50px;

}
.stanley p{
    text-align: center;
    margin-top: 25px;
    font-size: larger;
}
.sasha p{
    text-align: center;
    margin-top: 25px;
    font-size: larger;
}
.sleepy p{
    text-align: center;
    margin-top: 25px;
    font-size: larger;
}

.icecream p{
    text-align: center;
    margin-top: 25px;
    font-size: larger;
}

.fluffy p{
    text-align: center;
    margin-top: 25px;
    font-size: larger;
}

/* FOOTER */
.footer-container {
    background-color: rgb(20, 20, 148);
    padding-bottom: 2rem;
    padding-top: 2rem;
    position: relative;
    width: 100%;




}
.footer{
    width: 80%;
    height: 40 vh;
    color:rgb(216, 224, 231);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}





.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
}

.footer-heading h2 {
    margin-bottom: 2rem
}
.footer-heading a {
    color:rgb(186, 228, 228);
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.footer-heading a:hover {
    color:rgb(231, 231, 238);
    transition: 0.3s ease-out;

}

/* Box Test */
.box {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#current-animals-on-site{
    grid-row:1;
    grid-column:1/3;
    text-align: center;


}

#critical{
    color:rgb(238, 234, 234);
    border: 2px black solid;
    background-color: rgb(131, 14, 14);
    padding: 10%;
    margin:2%;
    text-align:center;
    grid-row:1;
    grid-column:1;

}

#recovery{
    color:rgb(238, 234, 234);
    border: 2px black solid;
    background-color: rgb(129, 121, 10);
    padding: 10%;
    margin:2%;
    text-align:center;
    grid-row:1;
    grid-column:2;

}

#release{
    color:rgb(238, 234, 234);
    border: 2px black solid;
    background-color: rgb(8, 105, 45);
    padding: 10%;
    margin:2%;
    text-align:center;
    grid-row:1;
    grid-column:3;


}
#leo{
    color:rgb(238, 234, 234);
    border: 2px black solid;
    background-color: rgb(54, 6, 6);
    padding: 10%;
    margin:2%;
    text-align:center;
    grid-row:3;
    grid-column:1;

}

#cici{
    color:rgb(238, 234, 234);
    border: 2px black solid;
    background-color: rgb(54, 6, 6);
    padding: 10%;
    margin:2%;
    text-align:center;
    grid-row:2;
    grid-column:1;

}



#jackson{
    color:rgb(238, 234, 234);
    border: 2px black solid;
    background-color: rgb(83, 78, 6);
    padding: 10%;
    margin:2%;
    text-align:center;
    grid-row:2;
    grid-column:2;

}
#natasha{
    color:rgb(238, 234, 234);
    border: 2px black solid;
    background-color:rgb(83, 78, 6);
    padding: 10%;
    margin:2%;
    text-align:center;
    grid-row:3;
    grid-column:2;

}
#coco{
    color:rgb(238, 234, 234);
    border: 2px black solid;
    background-color: rgb(4, 58, 25);
    padding: 10%;
    margin:2%;
    text-align:center;
    grid-row:2;
    grid-column:3;

}
#sam{
    color:rgb(238, 234, 234);
    border: 2px black solid;
    background-color: rgb(4, 58, 25);
    padding: 10%;
    margin:2%;
    text-align:center;
    grid-row:3;
    grid-column:3;

}
#lucky{
    color:rgb(238, 234, 234);
    border: 2px black solid;
    background-color: rgb(4, 58, 25);
    padding: 10%;
    margin:2%;
    text-align:center;
    grid-row:4;
    grid-column:3;

}
#mangrove{
    color:rgb(238, 234, 234);
    border: 2px black solid;
    background-color: rgb(4, 58, 25);
    padding: 10%;
    margin:2%;
    text-align:center;
    grid-row:5;
    grid-column:3;

}
.recovery-legend {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(1,1fr);
    align-self: left;
}

#red {
    width: 160px;
    height: 80px;
    text-align:center;
}
#yellow {

    width: 160px;
    height: 80px;
    text-align:center;
}

#green {
    width: 160px;
    height: 80px;
    text-align:center;
}


.grid {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 20%;
}

.link-item {
    display:grid;
    grid-template-columns: repeat(1,1fr);

}

video{
    margin:auto;
    display: block;
}
/* REMOVE THE CONTROL BAR */
video::-webkit-media-controls {
    display: none;
  }

.inthewild{
    margin: 80px;
}
/* -------------------------------------------------------------- */
/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #261297;
    padding: 20px 10px;
  }

  /* Style the header links */
  .header a {
    float: left;
    color: rgb(248, 239, 239);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

  /* Float the link section to the right */
  .header-right {
    float: right;
  }

  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }


/* GRID FOR ANIMAL LIST */

.row:after {
    content: "";
  display: table;
  clear: both;
}

#list_loop{
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* margin: auto;
    display: flex;
  justify-content: center; /* Centering Horizantly */
  text-align: center;
  padding: 1em;

}

/* Animal Health Chart  */
table{
    border-collapse: separate;
    border-spacing: 30px 15px;
    border: solid 2px black ;
}


/* Image size for pictures in details page */
.image_size{
    width: 400px;
    height: auto;


}

.image_list{
    width: auto;
    height: 100px;
}
